/* .navDropdown {color: white; background-color: gray}
.navDropdown a:hover {background: gray !important}
// .signUp {background-color: red; font-color: white}
.navItem {
    color: white;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
} */

@import "~bootstrap/scss/bootstrap";